# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Virtual Environments
.venv/
env/
venv/

# Temporary test backups and data
*.tachibk
*.json

# Pytest / Coverage / Tool cache
.pytest_cache/
.coverage

# IDE
.idea/
.vscode/
*.swp
*.swo
